
 @charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#wrapper {
	margin: 0 auto;
	width: 922px;
}

#header {
	color: #333;
	width: 900px;
	float: left;
	padding: 10px;
	border: 1px solid #ccc;
	height: 100px;
	margin: 10px 0px 0px 0px;
	background: #F6F0E0;
}
/* 홈 메뉴 */
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.menu li a {
	display: block;
	padding: 15px;
	color: #000000;
	font-size: 14px;
	text-decoration: none
}

.menu li a:hover {
	background-color: #75dbe7
}

.menu ul:after {
	content: "";
	display: block;
	clear: both
}

.menu li {
	float: left;
	width: auto
}

/* 브랜드 카테고리 메뉴 */
#leftmenu {
	color: #333;
	border: 1px solid #ccc;
	background: #F6F0E0;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	height: 350px;
	width: 200px;
	float: left;
}

/* 향수 제품 리스트 */
.perfumelist {
	float: right;
	color: #333;
	border: 1px solid #ccc;
	background: #CCC8B3;
	margin: 0px 0px 0px 0px;
	padding: 10px;
/* 	height: 350px; */
	width: 678px;
	display: inline;
	position: relative;
}

.perfumelist h1 {
	margin-top: 0;
	margin-bottom: 5px;
	color: #727224;
	font-size: 20px;
	font-weight: normal
}

.perfumelist ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 300px;
	height: 300px;
}

.perfumelist li a {
	display: block;
	padding: 5px;
	color: #000000;
	font-size: 13px;
	text-decoration: none
	
}

.perfumelist li a:hover {
	text-decoration: underline
}

.perfumelist ul:after {
	content: "";
	display: block;
	clear: both
}

.perfumelist li {
	/* float: left; */
	width: auto
}

.perfumelist img {
	max-width: 100%;
	height: auto;
	border: none
}