@charset "UTF-8";

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.menu {
    font-family: 'NanumSquareNeo-Variable';
}
.backimg {
 position: absolute;
   display:block;
margin:0 auto; 
  border-left: 3px solid #f4dbf1;
 border-right: 3px solid #f4dbf1;
}

body {
     margin: 0px;

  background-image: url("/img/review_bg.png")
}

.container { 

  transform: translateX(10.85%);
    font-family: 'NanumSquareNeo-Variable';
    background-color:#fff1f1;
    position: absolute;
    height: 900px;
    width: 1464px;
      border-left: 3px solid #f4dbf1;
 border-right: 3px solid #f4dbf1;
}
.container h2 {
   box-sizing: border-box;
    width: 100px;
   border-bottom: solid white 3px;
   text-align: center;
   margin-left: 290px;
   margin-top: 70px;
   font-size: 20px;
   font-weight: bold;
   padding-bottom: 15px;
   
}


table.review_detail {
  margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table.review_detail tbody th {
   width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #FFAEC1;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}
table.review_detail td {
    width: 350px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size:12px;
    padding-left: 20px;
}

table.review_detail img {
   width: 100px;
   height: 100px;
}

table.write_review {
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table.write_review tbody th {
   
    width: 150px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #FFAEC1;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    border-radius: .2rem;
    border-style: solid;
    border-width: 3px;
border-color:rgba(224, 175, 255, 0.2);
}
table.write_review td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #f0defb;
}


table.update_review {
  margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table.update_review tbody th {
   width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #FFAEC1;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}
table.update_review td {
    width: 350px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size:12px;
}

.input {
    font-family: 'NanumSquareNeo-Variable';
   width: 100%;
   font-size: 13px;
   border:none;
   height: 30px;
}

.textarea {
   font-family: 'NanumSquareNeo-Variable';
   width: 100%;
   font-size: 14px;
   border:none;
   height: 400px;
}

input.btn {
   font-family: 'NanumSquareNeo-Variable';
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 3px solid #FFAEC1;
    padding: 8px;
    width: 85px;
    font-size: 14px;
    height: 35px;
    vertical-align: middle;
    font-weight: bold;
    margin-top: 20px;
    float: right;
    margin-right: 300px;
    background-color: #FFF1F1;
    line-height: 1px;
}

input.btn:hover {
    background-color: #FFAEC1;   
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 85%;
    color: #999999;
}

.filebox label {
    display: inline-block;
    color: #fff;
    background-color: #eacbf1;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    font-size: 15px;
    vertical-align: middle;
    width: 10%;
    text-align: center;
    line-height: 40px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}       
        
#brand { font-family: 'NanumSquareNeo-Variable';
   background-color: white;
    border: 1px solid #FFAEC1;
    border-radius: 3px;
    display: inline-block;
    font-size: 13.5px;
    line-height: 1.5em;
    height: 30px;
    width: 100%;
    padding: 0.5em 3.5em 0.5em 1em;
}      

#brand option{
   height: 40px;
}



.debtn {
   margin-right: 350px;
}
input.subbtn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 3px solid #FFAEC1;
    padding: 8px;
    width: 85px;
    font-size: 12px;
    height: 35px;
    margin-left: 10px;
    vertical-align: middle;
    font-weight: bold;
    margin-top: 20px;
    float: right;
    
    background-color: #FFF1F1;
    line-height: 1px;
}

input.subbtn:hover {
    background-color: #FFAEC1;   
}

td.review_content {
   height: 300px;
   vertical-align: middle;
}