<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ko"  xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>제품소개</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/perfume.css" />
</head>
<body>
<div id="wrapper">
  <!-- 로고 메인 이미지 -->
  <div id="header"><h1><a href="#">이상香</a></h1>
  </div>
  
  <!-- 홈 메뉴 -->
  <div class="category">
<div class="category-inner">
	<nav class="menu">
	<ul>
	<li><a href="#">홈 화면</a></li>
	<li><a href="#">제품목록</a></li>
	<li><a href="#">대화의 창</a></li>
	</ul>
	</nav>
</div>
</div>
  
  <!-- 브랜드 카테고리 -->
<div id="leftmenu"> 
<!--브랜드 클릭하면 전체리스트 노출-->
  <p><a href="#">브랜드</a></p>
  <br></br>
  <ul>
 <a href="/utopia/perfume/chanel">샤넬</a>
            <br></br>
            <a href="/utopia/perfume/jomalone">조말론</a>
            <br></br>
            <a href="/utopia/perfume/acqua">아쿠아 디 파르마</a>
            <br></br>
            <a href="/utopia/perfume/byredo">바이레도</a>
            <br></br>
            <a href="/utopia/perfume/diptyque">딥디크</a>
            <br></br>
         </ul>
      </div>
   

  <!-- 향수 리스트 -->
  <div class="perfumelist"> 
    <p>클릭한 브랜드명 들어갈자리</p>
    	<img src="img/red-150x150.jpg" alt="">
    	<ul th:block th:each="perfume : ${list}" style="float:left; padding:10px; border: solid black; width: calc(100% / 4);" ><a href="#" >
			<li> 이름: [[${perfume.perfumeName}]]</li><br>
			<li> 좋아요 수: [[${perfume.thumbsCt}]]</li><br>
			<li> 가격: [[${perfume.perfumePrice}]]</li><br>
			<li> 브랜드: [[${perfume.brandName}]]</li>
			</a>
			</ul>
			
  <br></br>
  <ul>

   </ul>
   </div>
 </div>
</body>
</html>
