<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>제품소개</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/perfume.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
	 <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
</head>
<body>
<!-- 네비게이션 -->
  <div id="header">
    <nav class="top" >
      <a id="logo" href="/utopia/main.html"><img src="./img/utopia_logo.png"></a>
      <ul>
        <li><a href="">홈화면</a></li>
        <li><a href="">제품목록</a></li>
        <li><a href="">대화의창</a></li>
      </ul>
      <div class="login_message">
        <p><a href="">님 환영합니다~!! **✲ﾟ*(❁´▽`❁)*✲ﾟ**</a></p>
      </div>
    </nav>
  </div>
  
<!-- 브랜드 카테고리 -->
 
  <div class="box1">
	 <p class="brand"><a href="/utopia/perfume">브랜드 전체 보기 </a></p>
	     <br></br>
	     <th:block th:each="brand : ${brandlist}">
	        <a href="/utopia/perfume?brandId=" th:attrappend="href=${brand.brandId}" th:text="${brand.brandName}"></a>
	      <br /><br />
	   </th:block>
 </div>

   

    <!-- 향수 리스트 배경 -->
      <div class="box2">
      <div>
          <div class=number>
            <ul class="123">
            <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
              <ul>
          </div>
  </div>
    <!--향수 리스트-->
    <div class= "box3">
    
       <ul th:block th:each="perfume : ${perfumeList}" style="float:left; padding:30px;   height: 400px; border: solid black; width: calc(100% / 4);" >
       <a href="#" >
          
         <li> 이름: [[${perfume.perfumeName}]]</li><br>
         <li> 좋아요 수: [[${perfume.thumbsCt}]]</li><br>
         <li> 가격: [[${perfume.perfumePrice}]]</li><br>
         <li> 브랜드: [[${perfume.brandName}]]</li>
				<i class="fas fa-heart" > <a href="/utopia/updateThumbsCount.do"></a></i>
				
         <img src="" th:attrappend="src=${perfume.perfumeImage}"></img>
         </ul>
         
         <!-- jQuery 라이브러리를 불러옴 -->

  <br></br>
  <ul>

   </ul>
   </div>
 </div>
</body>
</html>