<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>리뷰</title>
      
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
   <link rel="stylesheet" th:href="@{/css/reviewList.css}">
</head>
<body>

<!-- 네비게이션 -->
     <div id="header">
       <nav class="menu" >
            <a id="logo" href="/utopia/main"><img src="/img/utopia_logo.png"></a>
            <ul>
               <li><a href="/utopia/main">홈화면</a></li>
              <li><a href="/utopia/perfume">제품목록</a></li>
              <li><a href="/utopia/reviewList.do">대화의창</a></li>
            </ul>
            <div class="login_message">
               <div th:unless="${#strings.isEmpty(session.member)}" style="text-align:right;">
                  <b>[[${session.member.memberName}]]</b>님 환영합니다~!! **✲ﾟ*(❁´▽`❁)*✲ﾟ** <a href="/logout.do" class="btn">logout</a>
               </div>
            </div>
       </nav>
     </div>
  
      <div class="container">
         <h2>대화의 창</h2>
         <div>
            <div style="cursor: pointer;" class="eachReview" th:if="${#lists.size(reviewList)} > 0" th:each="review : ${reviewList}" th:onclick="|location.href='@{/utopia/openReviewDetail.do(reviewId=${review.reviewId})}'|">
               <img src="/utopia/download.do?reviewId=" th:attrappend="src=${review.reviewId}"/> 
              <p style="margin-bottom: 10px;" class="title" th:text="${review.reviewTitle}"></p>
              <p class="writer" th:text="${review.memberName}"></p>
              <p class="perfume">[[${review.perfumeBrand}]] / [[${review.usePerfume}]]</p>
         </div>
      </div>
   </div>
   
         <div class="paginate">
             <ul>
            <li th:each="i : ${#numbers.sequence(1, pageCount, 1)}">
               <a href="reviewList.do?currentPage=" th:attrappend="href=${i}">[[${i}]]</a>
            </li>
         </ul>
           </div>
         <div class="btn">
              <input class="subbtn" type="button" id="write" value="글쓰기" />
                 
   
   <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
         </div>
     
   <script>
      $(function() {
         // id 속성의 값이 list클릭되었을 때 동작을 정의
         $('#write').on('click', function() {
            location.href = '/utopia/writeReview.do';
         });
      });
   </script>
      
</body>
</html>