<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>리뷰</title>
      
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
   <link rel="stylesheet" th:href="@{/css/reviewList.css}">
</head>
<body>

<!-- 네비게이션 -->
  <div id="header">
    <nav class="menu" >
      <a id="logo" href="/main.do"><img src="/img/logo.png"></a>
      <ul>
      <li><a href="/main.do">홈화면</a></li>
        <li><a href="/utopia/perfume">제품목록</a></li>
        <li><a href="/utopia/reviewList.do">대화의창</a></li>
      </ul>
      <div class="login_message">
	<div th:unless="${#strings.isEmpty(session.member)}" style="text-align:right;">
			<b>[[${session.member.memberName}]]</b>님 환영합니다~!! **✲ﾟ*(❁´▽`❁)*✲ﾟ** <a href="/logout.do" class="btn">로그아웃</a>
      </div>
    </nav>
  </div>
  
   <div class="container">
   <h2>대화의 창</h2>
   <div style="cursor: pointer;" class="eachReview" th:if="${#lists.size(reviewList)} > 0" th:each="review : ${reviewList}" th:onclick="|location.href='@{/utopia/openReviewDetail.do(reviewId=${review.reviewId})}'|">
      <tr>
       <img src="/utopia/download.do?reviewId=" th:attrappend="src=${review.reviewId}"/> 

         <!-- 제목 -->
             <p style="margin-bottom: 10px;" class="title" th:text="${review.reviewTitle}"></p>
        

            <p><!-- 작성자 -->
            <td class="writer" th:text="${review.memberName}"></td>            
            <p><!-- 브랜드명/향수이름 -->
            <td class="perfume">
            	[[${review.perfumeBrand}]] / [[${review.usePerfume}]]
            </td>
            
          </tr>
      <tr th:unless="${#lists.size(reviewList)} > 0">
               <td colspan="6">조회된 결과가 없습니다.</td>
            </tr>
   </div>
   
<div class="bottom">
 <div class="paginate">
     <a href="#">1</a>
     <a href="#">2</a>
     <a href="#">3</a>
   </div>
 <div class="btn">
   <input class="subbtn" type="button" id="write" value="글쓰기" />
   
      <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
 </div>
</div>

      <script>
         $(function() {
            // id 속성의 값이 list클릭되었을 때 동작을 정의
            $('#write').on('click', function() {
               location.href = '/utopia/writeReview.do';
            });
         });
         </script>
      </div>   
</body>
</html>