<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>리뷰</title>
	<link rel="stylesheet" th:href="@{/css/table.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
	<link rel="stylesheet" th:href="@{/css/navi.css}">
</head>
<body>

<!-- 네비게이션 -->
  <div id="header">
    <nav class="menu" >
       <a id="logo" href="/utopia/main"><img src="/img/utopia_logo.png"></a>
      <ul>
          <li><a href="/utopia/main">홈화면</a></li>
        <li><a href="/utopia/perfume">제품목록</a></li>
        <li><a href="/utopia/reviewList.do">대화의창</a></li>
      </ul>
      <div class="login_message">
	<div th:unless="${#strings.isEmpty(session.member)}" style="text-align:right;">
			<b>[[${session.member.memberName}]]</b>님 환영합니다~!! **✲ﾟ*(❁´▽`❁)*✲ﾟ** <a href="/logout.do" class="btn">logout</a>
      </div>
    </nav> 
  </div>
  
	<div class="container">
		<h2>대화의 창</h2>
	<form action="" method="POST" id="frm" name="frm">
		<input type="hidden" name="reviewId" th:value="${review.reviewId}" />
		<table class="review_detail">
			<colgroup>
				<col width="10%" />
				<col width="50%" />
				<col width="10%" />
				<col width="30%" />
			</colgroup>
		
			<tbody>
				<tr>
					<th>제목</th>
					<td colspan="3" th:text="${review.reviewTitle}"></td>
				</tr>
				
				<tr>
					<th>향수명</th>
					<td th:text="${review.usePerfume}"></td>
					<th>브랜드명</th>
					<td th:text="${review.perfumeBrand}"></td>
				</tr>
				
				<tr>
					<th>작성자</th>
					<td colspan="3" >초</td>
				</tr>
				
				<tr>
					<th>내용</th>
					<td class="review_content" colspan="3" th:text="${review.reviewContents}"></td>
				</tr>
				
				<tr>
					<th>이미지</th>
					<td colspan="3" ><img src="/utopia/download.do?reviewId=" th:attrappend="src=${review.reviewId}" style="width:150px; height:150px;"/></td>
				</tr>
			</tbody>
		</table>
		
		<div class="debtn">
			<input class="subbtn" type="button" id="list"   value="목록" />
			<input class="subbtn" type="button" id="edit"   value="수정" />
			<input class="subbtn" type="button" id="delete" value="삭제" />
		</div>
		</form>
		<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
		
		<script>
			$(function() {
				$('#list').on('click', function() {
					location.href = 'reviewList.do';
				});
				
				$('#edit').on('click', function() {
					location.href = 'openUpdateReview.do?reviewId=[[${review.reviewId}]]';
				});
				
				$('#delete').on('click', function() {
					let frm = $('#frm')[0];
					frm.action = '/utopia/deleteReview.do';
					frm.submit();
				});
			});
		</script>
	</div>

</body>
</html>